:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --accent-text-color: #ffffff;
}
/*другорядний колір  #212121 */
/* основний колір текста #757575 */
/*білий #E5E5E5 */
/*акцент #2196f3*/
body {
  background: #ffffff;
  color: var(--primary-text-color);

  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  list-style: none;
}

/* header */
.head {
  background: #ffffff;
}
/* logo*/
.logo {
  color: #000000;
  text-decoration: none;

  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
}
.logo-web {
  color: var(--accent-color);
}
/* site nav */
.site-nav .link {
  color: var(--title-text-color);
  text-decoration: none;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.site-nav .link.current {
  color: var(--accent-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
/* autn nav */
.auth-nav .link {
  color: var(--primary-text-color);
  text-decoration: none;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.auth-nav .link:hover,
.auth-nav .link:focus {
  color: var(--accent-color);
}
/* hero */
.hero {
  background: #2f303a;
}
.hero-title {
  color: var(--accent-text-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
}
/* button */
.button {
  color: var(--accent-text-color);
  background: var(--accent-color);

  cursor: pointer;

  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
}
/* переваги */
.taitle-invisible {
  color: rgba(0, 0, 0, 0);
}
.feature-list .title {
  color: var(--title-text-color);

  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
}
/* paragaph */
.paragaph {
  font-size: 14px;
  line-height: 1.71;
}
/*  Особенности */
.section-taitle {
  color: var(--title-text-color);

  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

/* team */
.name {
  color: var(--title-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}
.team {
  background: #f5f4fa;
}
.position {
  font-size: 16px;
  line-height: 1.18;
}
/* footer */
.footer {
  background: #2f303a;
}
.logo-web-blue {
  color: #2196f3;
}
.logo-web-whait {
  color: var(--accent-text-color);
}
.adress {
  color: var(--accent-text-color);
  text-decoration: none;

  font-size: 14px;
  line-height: 1.71;
}
.link-footer {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;

  font-size: 14px;
  line-height: 1.71;
}
.link-footer:hover,
.link-footer:focus {
  color: var(--accent-color);
}
/* PORTFOLIO */

/* buttons */
.buttons .button-portfolio:hover,
.buttons .button-portfolio:focus {
  color: var(--accent-text-color);
  background-color: var(--accent-color);
}
.button-portfolio {
  cursor: pointer;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
}
/* pictures */
.name-pictures {
  color: var(--title-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
}
.pictures-paragaph {
  font-size: 16px;
  line-height: 1.87;
}
